<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="sourceFolder" value="" />
    <add key="destFolder" value="E:\Pictures\Wallpaper\Lockscreen" />
    <add key="minFileSizeInByte" value="102400" />
    <add key="minImageWidth" value="1900" />
    <add key="deleteDuplicate" value="false" />
    <add key="assetPath" value="Packages\Microsoft.Windows.ContentDeliveryManager_cw5n1h2txyewy\LocalState\Assets" />
    <add key="exitTimeout" value="10" />
  </appSettings>
</configuration>